In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

In [27]:
def header(title):
    print(f'\n########### {title.upper()} ############')

In [28]:
# Read in darts contestant data
darts = pd.read_csv('./darts.csv')

In [29]:
# Print general information about the DataFrame
header("info")
darts.info()
header("describe")
darts.describe()

########### INFO ############
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   xCoord      800 non-null    float64
 1   yCoord      800 non-null    float64
 2   competitor  800 non-null    object
dtypes: float64(2), object(1)
memory usage: 18.9+ KB

########### DESCRIBE ############

           xCoord      yCoord
count  800.000000  800.000000
mean     0.005943    0.022868
std      0.475971    0.514482
min     -0.991140   -0.993547
25%     -0.295314   -0.423079
50%      0.000619    0.034483
75%      0.273953    0.452204
max      0.984816    0.994344

In [39]:
darts["competitor"] = darts["competitor"].astype("category")
darts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   xCoord      800 non-null    float64
 1   yCoord      800 non-null    float64
 2   competitor  800 non-null    category
dtypes: category(1), float64(2)
memory usage: 13.6 KB

In [30]:
# Now we know the coordinates are of the float64 type, and there is a competitor column that is an object
# It was played 800 times.
# 1. Who are the competitors?
# 2. Have they played the same number of times?

In [45]:
header("Categories")
print(darts["competitor"].cat.categories)
header("Codes")
print(darts["competitor"].cat.codes)

########### CATEGORIES ############
Index(['Kate', 'Michael', 'Steve', 'Susan'], dtype='object')

########### CODES ############
0      2
1      3
2      1
3      0
4      2
      ..
795    0
796    2
797    1
798    1
799    3
Length: 800, dtype: int8

In [40]:
darts.groupby("competitor").size()

competitor
Kate       200
Michael    200
Steve      200
Susan      200
dtype: int64

In [52]:
coordinates = darts.drop('competitor', axis=1)
header("Coordinates")
print(coordinates)
label = darts["competitor"].cat.codes
header("Label")
print(label)

########### COORDINATES ############
       xCoord    yCoord
0    0.196451 -0.520341
1    0.476027 -0.306763
2    0.003175 -0.980736
3    0.294078  0.267566
4   -0.051120  0.598946
..        ...       ...
795  0.320435 -0.327131
796 -0.179372  0.594201
797  0.530315 -0.833321
798 -0.287258  0.890928
799 -0.628403 -0.140868

[800 rows x 2 columns]

########### LABEL ############
0      2
1      3
2      1
3      0
4      2
      ..
795    0
796    2
797    1
798    1
799    3
Length: 800, dtype: int8